.card-container {
    color: black;
    background-color: white;
    height: auto;
    width: 11.25rem;    /* 180px */
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: var(--sombras);
    border-radius: 4px;
    margin: 6px;
    padding: 0px;
    font-family: 'Oxygen', sans-serif;
    font-size: large;
    /*transition: all 0.01s linear;*/
}

.card-container:hover {    
    transform: scale(1.005);
}

/* no tamanho "natural" = 185px x 278px (1,5x) */
.imagem {
    height: 12.1875rem;     /* 195px */
    width: 8.125rem;        /* 130px */
    margin-top: 0px;
}

.posiciona-final {
    align-self: flex-end;
}

.tamanho-nome{
    height: 2.5em;
}

