.header{
    height: 87px;
    width: 100vw;
    background-color: var(--fundo-header);
    color: var(--texto-header);

    justify-content: center;
    text-align: center;

    font-family: 'Acme', sans-serif;
    font-size: 2.375rem;    /* 38px */
}
/*
.rodape{
    height: 5px;
    width: 100vw;
    top: 88px;
    background-color: var(--texto-header);
}
*/